@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,600;1,100;1,500&display=swap");

html {
  scroll-behavior: smooth;
  scroll-padding: 7rem;
}

.text-typography-400 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.text-typography-500 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.text-typography-600 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.text-typography-700 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

.text-line-30 {
  line-height: 30px;
}

.text-size-14 {
  font-size: 14px;
}

.text-size-18 {
  font-size: 18px;
}

.text-size-20 {
  font-size: 20px;
}

.text-size-22 {
  font-size: 22px;
}

.text-size-24 {
  font-size: 24px;
}

.text-size-26 {
  font-size: 26px;
}

.text-size-28 {
  font-size: 28px;
}

.text-size-68 {
  font-size: calc(1.625rem + 4vw);
}

.text-size-58 {
  font-size: calc(1.25rem + 4vw);
}

.text-size-38 {
  font-size: calc(1.2rem + 1vw);
}

.bg-color-1 {
  background-color: #993d15;
}

.bg-color-2 {
  background-color: #6c17a3;
}

.bg-color-3 {
  background-color: #1b7d8c;
}

.bg-color-4 {
  background-color: #1b8c7f;
}

.bg-color-5 {
  background-color: #e08401;
}

.text-color-1 {
  color: #993d15;
}

.text-color-2 {
  color: #6c17a3;
}

.text-color-3 {
  color: #1b7d8c;
}

.text-color-4 {
  color: #5fa317;
}

.text-color-5 {
  color: #e08401;
}

.top-nav {
  background-color: #51ccb7;
  padding-top: 5px;
  padding-bottom: 5px;
}

.top-nav p {
  margin-bottom: 0;
  display: inline-block;
  margin-right: 16px;
}

.header {
  background: rgba(255, 255, 255, 0.902);
  transition: all 0.5s;
  z-index: 997;
  padding: 5px 0;
  margin-top: 25px;
}

.nav-link {
  color: #1b7c8b !important;
  font-size: 21px;
  font-weight: 600;
}

.nav-link:hover {
  color: rgb(0, 130, 236) !important;
}

.owl-prev,
.owl-next {
  position: absolute;
  top: 50%;
  font-size: 60px !important;
  font-weight: 700 !important;
  color: #ffffff !important;
}

.owl-prev {
  left: 0;
}

.owl-next {
  right: 0;
}

.owl-prev:hover,
.owl-next:hover {
  background-color: transparent !important;
}

.slide1 {
  background: linear-gradient(rgba(9, 32, 50, 0.503), rgba(9, 32, 50, 0.503)),
    url(../img/grupotyl_fond_1.jpg);
  background-size: cover;
  background-position: center center;
}

.slide2 {
  background: linear-gradient(rgba(9, 32, 50, 0.403), rgba(9, 32, 50, 0.403)),
    url(../img/grupotyl_fond_2.jpg);
  background-size: cover;
  background-position: center center;
}

h2::after {
  content: "";
  display: block;
  width: 130px;
  height: 5px;
  background:linear-gradient(90deg, #e08401,#5fa317,  #1b8c7f);
  animation: animate 20s linear infinite;
  background-size: 200%;
  margin: 0;
}


h2::before {
  content: "";
  display: block;
  width: 130px;
  height: 5px;
  background:linear-gradient(90deg, #e08401,#5fa317, #1b8c7f);
  animation: animate 20s linear infinite;
  background-size: 200%;
  margin: 0;
  filter: blur(20px);
}

@keyframes animate {
  0%
  {
    background-position: 0 0;
  }
  0%
  {
    background-position: 500% 0;
  }
}


.card-news {
  position: relative;
  width: 95%;
  height: 400px;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
  border: 2px solid #e08401;

}

.card-news:hover {
  box-shadow: 0 5px 40px rgb(95, 163, 23, 0.3);
}

.card-news span {
  position: absolute;
  top: -10px;
  left: -10px;
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.card-news span::before {
  content: "";
  position: absolute;
  width: 150%;
  height: 40px;
  background: #1b8c7f;
  transform: rotate(-45deg) translateY(-20px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.card-news span::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 10px;
  height: 10px;
  background: #1b8c7f;
  z-index: -1;
  box-shadow: 140px -140px #1b8c7f;
  /*150px -10 = 140*/
}

.card-news-2 {
  position: relative;
  width: 95%;
  height: 400px;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
  border: 2px solid #e08401;
}

.card-news-2:hover {
  box-shadow: 0 5px 40px rgb(95, 163, 23, 0.3);
}

.card-news-2 span {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.card-news-2 span::before {
  content: "";
  position: absolute;
  width: 150%;
  height: 40px;
  background: #1b8c7f;
  transform: rotate(45deg) translateY(-20px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.card-news-2 span::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 10px;
  height: 10px;
  background: #1b8c7f;
  z-index: -1;
  box-shadow: -140px -140px #1b8c7f;
  /*150px -10 = 140*/
}

#milestone {
  background: linear-gradient(rgba(27, 125, 140, 0.8), rgba(27, 125, 140, 0.8)),
    url(../img/grupotyl_1.jpg);
  background-position: center center;
}

#milestone2 {
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
    url(../img/grupotyl_2.jpg);
  background-size: cover;
  background-position: center center;
}

#milestone3 {
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
    url(../img/grupotyl_3.jpg);
  background-size: cover;
  background-position: center center;
}

.bg-cover {
  background-position: center !important;
  background-size: cover !important;
  background-position: center;
}

.padding-info {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.order-ubi-1 {
  order: 1;
}

.order-ubi-0 {
  order: 0;
}

.order-ubi-2 {
  order: 1;
}

.order-ubi-3 {
  order: 0;
}

.ir-arriba {
  display: none;
  padding: 8px;
  font-size: 20px;
  background: #1b8c7f;
  color: #ffffff;
  cursor: pointer;
  position: fixed;
  bottom: 15px;
  right: 20px;
  border-radius: 300px;
}

#milestone .fs-2,
#milestone p {
  color: #ffffff;
}

#topbar .contact-info {
  color: #ffff;
}

.padding-news {
  padding-left: 2rem;
  padding-right: 2rem;
}

footer {
  position: relative;
  width: 100%;
  background: #1b7c8b;
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

footer .social-icon,
footer .menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

footer .social-icon li,
footer .menu li {
  list-style: none;
}

footer .social-icon li a
{
  font-size: 2em;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}

footer .social-icon li a:hover {
  transform: translateY(1opx);
}

footer .menu li a
{
  font-size: 1.2em;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
}

footer .menu li a:hover
{
  opacity: 1;
}

footer p  {
  color: #fff;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 1.1em;
}

footer .wave
{
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url(../img/wave.png);
  background-size: 900px 100px;
}

footer .wave#wave1
{
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWave 4s linear infinite;
}

@keyframes animateWave
{
   0% 
   {
    background-position-x: 900px;
   }
   100%
   {
    background-position-x: 0px;
   }
}

footer .wave#wave2
{
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animateWave_02 4s linear infinite;
}

@keyframes animateWave_02
{
   0% 
   {
    background-position-x: 0px;
   }
   100%
   {
    background-position-x: 900px;
   }
}


.box {
  position: relative;
  width: 80%;
  height: 500px;
  background: #000;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.5);
}

.box .imgBox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.box .imgBox img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
}

.box:hover .imgBox img 
{
  opacity: 0;
}

.box .content
{
  position: absolute;
  bottom: 20px;
  left: 10%;
  width: 80%;
  height: 60px;
  background: linear-gradient(to bottom left, #7c7a7a 50%, #1b8c7f 50%);
  transition: 0.5s;
  overflow: hidden;
  color: #fff;

  padding: 15px;
  box-sizing: border-box;
}

.box:hover .content
{
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1200px) {
  .card-news {
    height: 450px;
  }

  .card-news-2 {
    height: 450px;
  }
}

@media (max-width: 600px) {
  .facet_sidebar {
    display: none;
  }
}

@media (max-width: 750px) {
  .padding-info {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .order-ubi-1 {
    order: 0;
    padding-bottom: 20px;
  }

  .order-ubi-0 {
    order: 1;
    margin-top: 20px;
  }

  .order-ubi-2 {
    padding-bottom: 20px;
  }

  .order-ubi-3 {
    padding-bottom: 20px;
  }

  .padding-news {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .card-news {
    height: 600px;
  }

  .card-news-2 {
    height: 600px;
  }

  .box {
    width: 100%;
    margin-top: 50px;
  }
}
